<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get Fit Today
            <br />
            Enroll Now
        </h2>
        <p>
            Ready to take the first step towards your fitness journey? Click below to connect with us and start sculpting the best
            version of yourself today! Your future self will thank you.
        </p>
        <a href="/contact" class="cs-button-solid">Get in Contact Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1614928228253-dc09cbc3b11c?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfHwwfHx8MA%3D%3D">
        <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1614928228253-dc09cbc3b11c?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfHwwfHx8MA%3D%3D">
        <img aria-hidden="true" decoding="async" src="https://images.unsplash.com/photo-1614928228253-dc09cbc3b11c?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfHwwfHx8MA%3D%3D" alt="cta-banner" loading="lazy" width="2500" height="1667">
    </picture>

</section>