---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1549995546-87cb41aa98a4?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfDF8MHx8fDA%3D">
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1549995546-87cb41aa98a4?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfDF8MHx8fDA%3D">
                    <img aria-hidden="true" decoding="async" src="https://images.unsplash.com/photo-1549995546-87cb41aa98a4?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfDF8MHx8fDA%3D" alt="group" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1632781297772-1d68f375d878?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfDF8MHx8fDA%3D">
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1632781297772-1d68f375d878?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfDF8MHx8fDA%3D">
                    <img aria-hidden="true" decoding="async" src="https://images.unsplash.com/photo-1632781297772-1d68f375d878?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbmFsJTIwdHJhaW5lcnxlbnwwfDF8MHx8fDA%3D" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About JimmyPT</h2>
                <p class="cs-text">
                    I have a Bachelor's degree in Exercise Science and over 7 years of experience as a certified personal trainer. My
                    expertise lies in designing comprehensive fitness programs tailored to each client's unique needs and goals. I am
                    passionate about helping individuals transform their lives through fitness and have a proven track record of success
                    stories.
                </p>
                <p class="cs-text">
                    With over a decade of experience in the fitness industry, I am dedicated to helping individuals achieve their fitness goals and transform their lives. My journey began with a passion for health and wellness, leading
                    me to pursue a Bachelor's degree in Exercise Science. Throughout my career, I've had the privilege of working with
                    clients from all walks of life, guiding them towards sustainable lifestyle changes and empowering them to reach their
                    full potential.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        "Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative
                        intellectual activity."
                    </p>
                    <span class="cs-name">John F. Kennedy</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->
    
    <section id="services-597">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Best PT Service in DC Metro</h2>
                <p class="cs-text">
                    At our service, we prioritize personalized attention and expert guidance to ensure optimal results. With a focus on
                    individualized fitness plans and comprehensive support, we're dedicated to empowering you to reach your goals
                    effectively and sustainably.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/door-red.svg"
                        alt="icon" width="61" height="58" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Personalized Approach</h3>
                    <p class="cs-item-text">
                        I believe in personalized attention and customization in every aspect of training, from workouts to nutrition plans.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/door-red.svg"
                        alt="icon" width="61" height="58" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Expert Guidance</h3>
                    <p class="cs-item-text">
                        With a strong educational background and years of experience, I provide expert guidance and support to ensure clients
                        achieve their desired results.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/door-red.svg"
                        alt="icon" width="61" height="58" loading="lazy" decoding="async">
                    <h3 class="cs-h3">Supportive Environment</h3>
                    <p class="cs-item-text">
                        I cultivate a supportive and motivating environment where clients feel empowered to push their limits and achieve their
                        fitness goals.
                    </p>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}