---
title: 'Personal Training Template - Basic'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Certified Trainers Now Serving Athletes & Competitors</h1>
            <p class="cs-text">
                We are the premier Personal Training Service for athletes and competitors for all sports and physically intensive endevors.
            </p>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)"
            srcset="https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29uYWwlMjB0cmFpbmVyfGVufDB8fDB8fHww">
        <source media="(min-width: 601px)"
            srcset="https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29uYWwlMjB0cmFpbmVyfGVufDB8fDB8fHww">
        <img decoding="async" src="https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29uYWwlMjB0cmFpbmVyfGVufDB8fDB8fHww"
            alt="personal trainer" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-942">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Service</span>
            <h2 class="cs-title">What We Provide To Our Customer</h2>
            <p class="cs-text">
                We strive to meet the needs of every person who walks through our doors. Whether it be general fitness, a complete body transformation or training Olympic athletes. Our service is the same.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut"
                        width="40" height="40">
                </picture>
                <h3 class="cs-h3">Personalized Workout Plans</h3>
                <p class="cs-item-text">
                    Tailored workout plans designed to help clients reach their fitness goals for weight loss, muscle gain, or health improvement.
                </p>
                <a href="" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair1.jpg" alt="hair cut"
                        width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut"
                        width="40" height="40">
                </picture>
                <h3 class="cs-h3">Nutritional Guidance</h3>
                <p class="cs-item-text">
                    Customized nutritional plans and advice to complement workout routines and optimize results for long term progress.
                </p>
                <a href="" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair2.jpg" alt="hair cut"
                        width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut"
                        width="40" height="40">
                </picture>
                <h3 class="cs-h3">One-on-One Training Sessions</h3>
                <p class="cs-item-text">
                    Individualized training sessions focused on proper form, technique, and maximizing workout efficiency.
                </p>
                <a href="" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair3.jpg" alt="hair cut"
                        width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="cs-waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
            alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1308">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Accountability & support for your physique</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)"
                    srcset="https://images.unsplash.com/photo-1584466977773-e625c37cdd50?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGVyc29uYWwlMjB0cmFpbmVyfGVufDB8fDB8fHww">
                <source media="(min-width: 601px)"
                    srcset="https://images.unsplash.com/photo-1584466977773-e625c37cdd50?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGVyc29uYWwlMjB0cmFpbmVyfGVufDB8fDB8fHww">
                <img loading="lazy" decoding="async"
                    src="https://images.unsplash.com/photo-1584466977773-e625c37cdd50?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGVyc29uYWwlMjB0cmFpbmVyfGVufDB8fDB8fHww" alt="training" width="630"
                    height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Me</span>
            <h2 class="cs-title">My Background in Training</h2>
            <p class="cs-text">
                I have a Bachelor's degree in Exercise Science and over 7 years of experience as a certified personal trainer. My
                expertise lies in designing comprehensive fitness programs tailored to each client's unique needs and goals. I am
                passionate about helping individuals transform their lives through fitness and have a proven track record of success
                stories.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">500 +</span>
                    <h3 class="cs-h3">Clients Served</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">90%</span>
                    <h3 class="cs-h3">Client Retention Rate</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">15 lbs</span>
                    <h3 class="cs-h3">Lost within 3 Months</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1087">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Simple & Transparent Pricing</h2>
            <p class="cs-text">
                Our pricing is transparent and straightforward, with no hidden fees or surprises. We believe in providing clear and
                concise pricing options to ensure our clients understand exactly what they're getting. Whether you opt for individual
                sessions, monthly packages, or online training programs, you can trust that our pricing remains transparent and
                competitive.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Basic</span>
                <span class="cs-price">$49.99</span>
                <p class="cs-item-p">
                    10 sessions within a 12 week period
                </p>
                <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Group Fitness Classes
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Nutritional Guidance
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Online Training Programs
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Fitness Assessments
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Personalized Workouts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        One-on-One Training Sessions
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">Personal</span>
                <span class="cs-price">$99.99</span>
                <p class="cs-item-p">
                    25 Sessions within a 12 week period
                </p>
                <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Group Fitness Classes
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Nutritional Guidance
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Online Training Programs
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Fitness Assessments
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Personalized Workouts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        One-on-One Training Sessions
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Athlete</span>
                <span class="cs-price">$159.99</span>
                <p class="cs-item-p">
                    Unlimited Sessions within a 16 week period
                </p>
                <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Group Fitness Classes
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Nutritional Guidance
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Online Fitness Programs
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Fitness Assessments
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Personalized Workouts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        One-on-One Training Sessions
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--Left chevron-->
    <img class="cs-floater cs-floater1" aria-hidden="true" loading="lazy" decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/left-chevron.svg" alt="checkmark" width="121"
        height="272">
    <!--Right chevron-->
    <img class="cs-floater cs-floater2" aria-hidden="true" loading="lazy" decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/right-chevron.svg" alt="checkmark" width="121"
        height="272">
</section>

    {% include 'components/cta.html' %}
{% endblock %}